extends index.pug
block content
  div(style='padding:0 30px')
    h2(style="margin:0;margin-bottom:30px;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5;font-size:22px;color:#294661!important") #{greeting} 
      span(style="text-transform: capitalize;")
        | #{firstName},
    p(style="margin:0;margin-bottom:30px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300")
    | #{message}
    br
    br
    div(style="text-align:center")
      button(type="button" style="background-color:#294661;color:#fff;padding:10px 20px;border:none;border-radius:5px;font-size:16px;cursor:pointer;text-decoration:none")
        a(href=resendVerificationLink style="color:#fff;text-decoration:none") Verify
    br
    p(style="margin:0;margin-bottom:0px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300")
    | #{note}
    p(style="margin:0;margin-bottom:30px;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300")
    | Thank you,
    p(style="margin:0;color:#294661;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300")
    | The ImmeDine Team    
  include includes/foot.pug